.sideNav {
  width: 40px;
  height: 60px;
  background-color: gold;
  transition: 0.3s;
  z-index: 2;
  position: absolute;
  border-radius: 0 0.375rem 0.375rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .side-nav-text {
    display: none;
    width: 0rem;
  }
  &:hover {
    width: 80px;
    // padding-left: 40px;
    &.side-nav-text {
      display: flex;
      width: 3rem;
    }
  }

  .cal-icon {
    font-size: 30px;
    color: white;
    padding: 0.2rem;
  }
}
#side-nav-content {
  transition: 0.3s;
  width: 0; // 15rem;
  background-color: white;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 31;
  .side-nav-close-button {
    display: flex;
    justify-content: flex-end;
  }
  .margin {
    margin: 0.5rem;
  }
}
